body {
  background-color: rgb(69, 72, 73);
  border: 4px solid black;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0;
  padding-top: 0px;
  margin: 10px;
  background-attachment: fixed;
  background-image: url("../images/dean-hayton-136567.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}

#sidebar {
  float: left;
  width: 12%;
  height:262vh;
  background-color: #2a2e4f;
  position: relative;
}

#sidebarSpan a, #contactSection {
  color: rgb(229, 177, 34);
  font-family: Palatino;
  text-decoration: none;
  font-size: 20px;

}

#content {
  clear: top;
  width: 88%;
  float: right;
  padding-top: 10px;
}

.navSpan, .pHeaders {
  color: rgb(229, 177, 34);
  font-family: Palatino;
}

.pSubHeaders {
  color: rgb(176, 102, 215);
  font-family: Palatino;
}

h1 {
  color: rgb(229, 177, 34);
  text-align: center;
  font-family: Palatino;
}

p, ol, ul  {
  color: rgb(222, 228, 232);
  font-family: Palatino;
  align-content: center;
  text-align: justify;
}

#projectsTable {
  border: 1px solid #ddd;
  padding: 3px;
  border-collapse: collapse;
  color: rgb(222, 228, 232);
  font-family: Palatino;
  margin-bottom: 100px;
}

#projectsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: white;
}

#projectsTable td, #projectsTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#projectsTable tr:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

#profilePic {
  margin-bottom: 100px;
  box-shadow: 6px 6px 7px black;
}

#betamoreLogo {
  width: 150px;
  height: 70px;
  box-shadow: 4px 4px 7px black;
}

#workshopLink {
  color: rgb(207, 97, 202);
}

#navFooter {
  position: relative;
  width: 100%;
  background-color: #2a2e4f;
  padding-bottom: 10px;
  padding-top: 10px;
  float: right;
}

#navFooter a, #navFooter span {
  font-family: arial, sans-serif;
  text-align: center;
  color: rgb(234, 242, 236);
  cursor: auto;
  text-decoration: none;
}

#navFooter:hover {
  background-color: #3b3f5d;
}
